body {
    min-width: 400px;
    overflow-y: hidden;
}
.row {
    display: block;
    padding: 0 0 10px 0;
}
.row__align_right {
    text-align: right;
}
.row_label {
    font-size: 1.1rem;
    font-weight: bold;
    display: block;
    padding: 8px 0;
}
.row_description {
    padding: 0 0 8px 0;
}
.row_description__emphasis {
    font-style: italic;
}

.save-status {
    font-weight: bold;
    padding: 0 8px;
}
.save-status__success {
    color: green;
}
.save-status__error {
    color: red;
}

.url-regex-list_row {
    padding: 0 0 8px 0;
    white-space: nowrap;
}

.url-regex-list_row_regex, .url-regex-list_row_ext {
    padding: 0 8px 0 0;
    display: inline-block;
}

.url-regex-list_row_regex input, .url-regex-list_row_ext input {
    font-family: monospace;
}

.url-regex-list_row_remove {
    cursor: pointer;
    color: darkred;
    display: inline-block;
}

.url-regex-list_row_remove:hover {
    text-decoration: underline;
}
