{
    "semi": true,
    "overrides": [
        {
            "files": [
                "*.html",
                "*.css",
                "*.js",
                "*.json"
            ],
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
